 .section-img {
            height: 350px;
            object-fit: cover;
        }

        .chart {
            width: 300px;
            height: 300px;
            margin: 0 auto;
        }

        h2, h3, h5 {
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            text-align: justify;
        }