 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 0;
    margin: 0;
    background-color: #f8f9fa;
}

main {
    flex: 1 0 auto;
}

pharma-footer {
    flex-shrink: 0;
}
        .card {
        border-radius: 12px; }
        .badge-stock {
        font-size: .85rem; }
        .price {
        font-weight: 600; }


        @media (max-width: 575px) {
            .table-responsive {
            font-size: 0.95rem; }
        }