 body {
       background-color: #f8f9fa;
     }
     
.pharmacy-card {
        border-radius: 12px;
        border: 1px solid black;
        margin-bottom: 25px;
        background: white;
        height: 100%;
        }
.pharmacy-header {
        background-color: #198754;
        color: white;
        padding: 15px 20px;
        border-radius: 12px 12px 0 0;
        }
.info-item {
        margin-bottom: 15px;
        padding-bottom: 15px;
        }
.filter-box {
        background: white;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 25px;
        }
ul {
    padding-left: 20px;
    margin-bottom: 0;
    }
ul li {
    margin-bottom: 5px;
    }